body{
    background-color: aqua;
}

form {
    border: 5px solid red;
    padding: 10px;
}
label{
    color: #555541;
    font-size: 25px;
}
input{
    width: 250px;
}
#Checkbox{
    width: 20px;
    height: 20px;

}